<nb-card>
  <nb-card-header>Add Book</nb-card-header>
  <nb-card-body>
    <div class="container-fluid">
      <div style="margin-top: 10px;" class="col-md-2 offset-md-10">
          <div class="input-group mb-3">
              <input type="number" [(ngModel)]="stock" class="form-control" placeholder="Stock">
          </div>
      </div>
      <div style="margin-bottom: 10px;" class="col-md-4 offset-md-4">
        <img [src]="image?.url" class="img-fluid main-image">
        <div style="margin-top: 10px; margin-bottom: 10px;" class="progress">
            <div [ngClass]="image.progressBarClass" [ngStyle]="{'width':image.uploadPercent+'%'}" role="progressbar" aria-valuemax="100">{{image.uploadPercent | number:'0.0-0'}}%</div>
        </div>
        <input type="file" (change)="uploadMainImage($event)">
      </div>
      <form (ngSubmit)="addBook()">
        <div class="row">
              <div class="form-group col-md-6">
                <label>Title:</label>
                <input class="form-control" type="text" placeholder="Title" [(ngModel)]="title" name="title">
              </div>
              <div class="form-group col-md-6">
                <label>Author: </label>
                <input class="form-control" type="text" placeholder="Author" [(ngModel)]="author" name="author">
              </div>
              <div class="form-group col-md-6">
                  <label>Category: </label>
                  <select multiple [(ngModel)]="category" name="category" class="form-control">
                    <option *ngFor="let c of categories" value="{{c.id}}" >{{c.title}}</option>
                  </select>
              </div>
              <div class="form-group col-md-6">
                <label>Language: </label>
                <select multiple name="language" class="form-control" [(ngModel)]="languages">
                  <option>English</option>
                  <option>Hindi</option>
                  <option>Bengali</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                  <label>Edition: </label>
                  <input class="form-control" type="text" placeholder="Edition" [(ngModel)]="edition" name="edition">
              </div>
              <div class="form-group col-md-6">
                  <label>Publishing Date: </label>
                  <div class="input-group">
                      <input class="form-control" style="float:none" placeholder="Select a date" ngx-mydatepicker name="mydate"
                              [options]="myOptions" #dp="ngx-mydatepicker" (dateChanged)="onDateChanged($event)"/>
              
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-default" (click)="dp.clearDate()">
                              <i class="fas fa-times"></i>
                          </button>
                          <button type="button" class="btn btn-default" (click)="dp.toggleCalendar()">
                              <i class="far fa-calendar-alt"></i>
                          </button>
                      </span>
                  </div>
              </div>
              <div class="form-group col-md-6">
                <label>Publication: </label>
                <input class="form-control" placeholder="Publication" name="publication" [(ngModel)]="publication">
              </div>
              <div class="form-group col-md-6">
                  <label>Number of pages: </label>
                  <input class="form-control" placeholder="Number of pages" name="publication" type="number" [(ngModel)]="pages">
              </div>
              <div class="form-group col-md-6">
                <label>Price: </label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="price">&#8377;</span>
                    </div>
                    <input type="text" name="price" [(ngModel)]="price" class="form-control" placeholder="Price" aria-describedby="price">
                </div>
              </div>
              <div class="form-group col-md-6">
                  <label>Offer Price: </label>
                  <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="price_offer">&#8377;</span>
                      </div>
                      <input type="text" name="price_offer" [(ngModel)]="priceOffer" class="form-control" placeholder="Offer Price" aria-describedby="price_offer">
                  </div>
              </div>
              <div class="form-group col-md-6">
                <label>Type: </label>
                <select [(ngModel)]="type" name="type" class="form-control">
                    <option value="1">Paperback and Soft copy</option>
                    <option value="2">Soft copy</option>
                    <option value="3">Paperback</option>
                </select>
              </div>
              <div *ngIf="type!='3'" class="form-group col-md-6">
                <label>Upload Soft copy: </label>
                <div style="margin-bottom: 10px;" class="progress">
                  <div [ngClass]="softCopy.progressBarClass" [ngStyle]="{'width':softCopy.uploadPercent+'%'}" role="progressbar" aria-valuemax="100">{{softCopy.uploadPercent | number:'0.0-0'}}%</div>
                </div>
                <input (change)="uploadSoftCopy($event)" type="file">
              </div>
              <div class="form-group col-md-12">
                <label>Description: </label>
                <textarea class="form-control" [(ngModel)]="description" name="description"></textarea>
              </div>
              <div class="form-group col-md-6">
                  <nb-checkbox name="exclusive" [(ngModel)]="exam360" status="success" class="col-sm-4">Exam 360 exclusive</nb-checkbox>
              </div>
              <div class="form-group col-md-6">
                <nb-checkbox name="special" [(ngModel)]="special" status="success" class="col-sm-4">Special book</nb-checkbox>
              </div>
        </div>
        <button *ngIf="title && author && category && publication && price && priceOffer && type && description && stock && date && edition && languages; else disabled" type="submit" style="margin-bottom: 20px;" class="btn btn-success btn-block">Submit</button>
        <ng-template  #disabled>
          <button style="margin-bottom: 20px;" class="btn btn-success btn-block disabled" type="button">Submit</button>
        </ng-template>
        
    </form>
    </div>
  </nb-card-body>
</nb-card>