<nb-card>
    <nb-card-body>
            <ngx-order-details *ngIf="isSelected" [order]="order"  ></ngx-order-details>
        <nb-tabset>

                <nb-tab tabTitle="Unshipped">
                        <ng2-smart-table [settings]="settings" [source]="unshippedSource" (deleteConfirm)="deleteOrder($event)" (editConfirm)="editOrder($event)" >
                            </ng2-smart-table>
                </nb-tab>

                <nb-tab tabTitle="Shipped">
                        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="deleteOrder($event)" (editConfirm)="editOrder($event)" (userRowSelect)="orderSelected($event)" >
                            </ng2-smart-table>
                </nb-tab>

                <nb-tab tabTitle="Canceled">
                    <ng2-smart-table [settings]="canceledSettings"  [source]="canceledSource" (deleteConfirm)="deleteOrder($event)" (editConfirm)="editOrder($event)" (userRowSelect)="orderSelected($event)" >
                    </ng2-smart-table>
                </nb-tab>
                
        </nb-tabset>
        
    </nb-card-body>
</nb-card>