<nb-card>
    <nb-card-body>
            <ngx-order-details [order]="order" *ngIf="isSelected" ></ngx-order-details>
        <nb-tabset>
                <nb-tab tabTitle="Shipped">
                        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="deleteOrder($event)" (editConfirm)="editOrder($event)" (createConfirm)="createUser($event)" (userRowSelect)="orderSelected($event)" >
                            </ng2-smart-table>
                </nb-tab>
                <nb-tab tabTitle="Unshipped">
                        <ng2-smart-table [settings]="settings" [source]="unshippedSource" (deleteConfirm)="deleteOrder($event)" (editConfirm)="editOrder($event)" (createConfirm)="createUser($event)" (userRowSelect)="orderSelected($event)" >
                            </ng2-smart-table>
                </nb-tab>
                
        </nb-tabset>
        
    </nb-card-body>
</nb-card>