<nb-card>
  <nb-card-header>Change Password</nb-card-header>
  <nb-card-body>
    <form (ngSubmit)="changePassword()">
      <div class="form-group">
        <label>Current Password: </label>
        <input type="password" class="form-control" placeholder="Current Password" [(ngModel)]="currentPass" name="currentPass">
      </div>
      <div class="form-group">
        <label>New Password: </label>
        <input type="password" class="form-control" placeholder="New Password" [(ngModel)]="newPass" name="newPass">
      </div>
      <button *ngIf="currentPass && newPass; else disabled" class="btn btn-success btn-block">Submit</button>
      <ng-template #disabled>
        <button class="btn btn-success btn-block disabled" type="button">Submit</button>
      </ng-template>
    </form>
  </nb-card-body>
</nb-card>