<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card [title]="usersLength+' Users'"
                     [type]="'success'">
      <i [ngClass]="'nb-person'"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card [title]="booksLength+' Books'"
                     [type]="'warning'">
      <i [ngClass]="'fas fa-book'"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card [title]="ordersLength+' Sales'"
                     [type]="'primary'">
      <i [ngClass]="'fas fa-shopping-cart'"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card [title]="'₹'+totalEarnings+' Earnings'"
                     [type]="'danger'">
      <i [ngClass]="'fas fa-rupee-sign'"></i>
    </ngx-status-card>
  </div>

</div>
<div class="row">
  <div class="col-md-6">
    <nb-card>
      <nb-card-header>
        <h1>Orders Summary</h1>
      </nb-card-header>
      <nb-card-body>
        <table class="info-table" >
          <tr>
            <td>Unshipped:</td>
            <td>{{unshippedOrdersLength}}</td>
          </tr>
          <tr>
            <td>Shipped:</td>
            <td>{{shippedOrdersLength}}</td>
          </tr>
          <tr>
            <td>Cancelled:</td>
            <td>{{canceledOrdersLength}}</td>
          </tr>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-header><h1>Listings</h1></nb-card-header>
      <nb-card-body>
        <table class="info-table" >
          <tr>
            <td>Pending Approval:</td>
            <td>{{unshippedOrdersLength}}</td>
          </tr>
          <tr>
            <td>Product Live:</td>
            <td>{{liveProducts}}</td>
          </tr>
          <tr>
            <td>Number of items (Paperback):</td>
            <td>{{paperBackLength}}</td>
          </tr>
          <tr>
            <td>Number of items (PDF):</td>
            <td>{{pdfLength}}</td>
          </tr>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-header><h1>Sales Summary</h1></nb-card-header>
      <nb-card-body>
        <table class="info-table" >
          <tr>
            <td>Today:</td>
            <td>&#8377;{{todayOrdersCost | number:'0.2-2'}}</td>
            <td>{{todayOrdersLength}} Units</td>
          </tr>
          <tr>
            <td>7 days:</td>
            <td>&#8377;{{weekOrdersCost | number:'0.2-2'}}</td>
            <td>{{weekOrdersLength}} Units</td>
          </tr>
          <tr>
            <td>15 days:</td>
            <td>&#8377;{{fifteenDaysOrdersCost | number:'0.2-2'}}</td>
            <td>{{fifteenDaysOrdersLength}} Units</td>
          </tr>
          <tr>
            <td>30 days:</td>
            <td>&#8377;{{thirtyDaysOrdersCost | number:'0.2-2'}}</td>
            <td>{{thirtyDaysOrdersLength}} Units</td>
          </tr>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-header><h1>History</h1></nb-card-header>
      <nb-card-body>
        <table class="info-table">
          <tr>
            <td>Users:</td>
            <td>{{usersLength}}</td>
          </tr>
          <tr>
            <td>Total Earnings:</td>
            <td>&#8377;{{totalEarnings}}</td>
          </tr>
          <tr>
            <td>Total Sales:</td>
            <td>{{shippedOrdersLength}}</td>
          </tr>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!-- <div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-temperature></ngx-temperature>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <ngx-electricity></ngx-electricity>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-9 col-xl-12">
    <ngx-rooms></ngx-rooms>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <ngx-contacts></ngx-contacts>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-solar [chartValue]="72"></ngx-solar>

    <ngx-kitten></ngx-kitten>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ngx-traffic></ngx-traffic>
    <ngx-weather></ngx-weather>
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <ngx-security-cameras></ngx-security-cameras>
  </div>
</div> -->
