<nb-card>
  <nb-card-header>Add FAQ</nb-card-header>
  <nb-card-body>
    <form (ngSubmit)="addFaq()">
      <div class="form-group">
        <label>Category: </label>
        <input class="form-control" name="category" [(ngModel)]="category" placeholder="Category" type="text">
      </div>
      <div class="form-group">
        <label>Question: </label>
        <input class="form-control" name="question" [(ngModel)]="question" placeholder="Question" type="text">
      </div>
      <div class="form-group">
        <label>Answer: </label>
        <textarea name="answer" [(ngModel)]="answer" class="form-control"></textarea>
      </div>
      <button class="btn btn-hero-success btn-block">Submit</button>
    </form>
  </nb-card-body>
</nb-card>